<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goshine.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="dto.RoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="dto.RoleMenu">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id
    from role_menu
  </select>
  <resultMap id="BaseResultMap" type="dto.RoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="dto.RoleMenu">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id
    from role_menu
  </select>
  <resultMap id="BaseResultMap" type="dto.RoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="dto.RoleMenu">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id
    from role_menu
  </select>
  <resultMap id="BaseResultMap" type="dto.RoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="dto.RoleMenu">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id
    from role_menu
  </select>
  <resultMap id="BaseResultMap" type="dto.RoleMenu">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="dto.RoleMenu">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, menu_id
    from role_menu
  </select>
</mapper>